
*.db
*.db-shm
*.db-wal
*.ipch
*.opendb
njector/v16/.suo
.vs/BaseInjector/v16/Browse.VC.opendb
.vs/BaseInjector/v17/.suo
.vs/BaseInjector/v16/.suo
x64/Debug/BaseInjector.Build.CppClean.log
x64/Debug/BaseInjector.exe.recipe
x64/Debug/BaseInjector.log
x64/Debug/BaseInjector.vcxproj.FileListAbsolute.txt
x64/Debug/BaseInjector.exe
x64/Debug/BaseInjector.ilk
x64/Debug/BaseInjector.obj
x64/Debug/BaseInjector.pch
x64/Debug/BaseInjector.pdb
x64/Debug/BaseInjector.tlog/BaseInjector.lastbuildstate
x64/Debug/BaseInjector.tlog/CL.command.1.tlog
x64/Debug/BaseInjector.tlog/CL.read.1.tlog
x64/Debug/BaseInjector.tlog/CL.write.1.tlog
x64/Debug/BaseInjector.tlog/link.command.1.tlog
x64/Debug/BaseInjector.tlog/link.read.1.tlog
x64/Debug/BaseInjector.tlog/link.write.1.tlog
x64/Debug/pch.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Release/BaseInjector.exe
x64/Release/BaseInjector.exe.recipe
x64/Release/BaseInjector.iobj
x64/Release/BaseInjector.ipdb
x64/Release/BaseInjector.log
x64/Release/BaseInjector.obj
x64/Release/BaseInjector.pch
x64/Release/BaseInjector.pdb
x64/Release/BaseInjector.tlog/BaseInjector.lastbuildstate
x64/Release/BaseInjector.tlog/BaseInjector.write.1u.tlog
x64/Release/BaseInjector.tlog/CL.command.1.tlog
x64/Release/BaseInjector.tlog/CL.read.1.tlog
x64/Release/BaseInjector.tlog/CL.write.1.tlog
x64/Release/BaseInjector.tlog/link.command.1.tlog
x64/Release/BaseInjector.tlog/link.read.1.tlog
x64/Release/BaseInjector.tlog/link.write.1.tlog
x64/Release/BaseInjector.vcxproj.FileListAbsolute.txt
x64/Release/pch.obj
x64/Release/vc142.pdb
x64/Debug/baseinjector.obj.enc
